
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% @memes.each do |meme| %>
        <div>
            <div>
                <img src="<%= meme.image.url %>">
                <p><%= meme.input1 %></p>
                <p><%= meme.input2 %></p>
            </div>
            <div>
                <h5><%= meme.name %></h5>
                
                
            </div>
        </div>
    <% end %>
</body>
</html>





































<!-- <% @memes.each do |meme| %>
<div class="card card-meme clearfix">
    <div class="card-photo">
        <img class="card-img-top" src="<%= meme.image.url %>" alt="Card image cap">
        <p class="one"><%= meme.input1 %></p>
        <p class="two"><%= meme.input2 %></p>
    </div>
    <div class="card-body">
        <h5 class="card-title"><%= meme.name %></h5>
        <a href="<%=  %>" class="btn btn-primary">Edit</a>
        
    </div>
</div>
<% end %> -->