

<% if @meme.errors.any? %>
  <% @meme.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>

<div>
  <h2>Create a Meme</h2>
</div>
<div>
  <%= form_for @meme do |f| %>
    <div>
      <%=f.label :name%>
      <%=f.text_field :name%>
    </div>

    <div>
      <%= f.collection_select(:image_id, Image.all, :id, :name, prompt: true) %>
    </div>

    <div>
      <%=f.label :input1%>
      <%=f.text_field :input1%>
    </div>
    
    <div>
      <%=f.label :input2%>
      <%=f.text_field :input2%>
    </div>
    
      <%= f.hidden_field :user_id, :value => @user_id %>
    <div>
      <%= f.submit %>
    </div>


    <% end %>
  </div>





















































  <!-- <div class="center" >
      <h2>Create a Meme</h2>
    </div>
    <div class="new-meme-box">
      <%= form_for @meme, :html => { :class => "ui form", :id => "new-meme-form" } do |f| %>
        <div class="field">
          <%=f.label :name%>
          <%=f.text_field :name%>
        </div>
    
        <div class="field">
          <%=f.label :input1%>
          <%=f.text_field :input1%>
        </div>
        
        <div class="field">
          <%=f.label :input2%>
          <%=f.text_field :input2%>
        </div>
        
        <div class="field">
          <%= f.collection_select(:image_id, Image.all, :id, :name, prompt: true) %>
        </div>
    
          <%= f.hidden_field :user_id, :value => @user_id %>
        <div class="field">
          <%= f.submit %>
        </div>
    
    
        <% end %>
      </div> -->