<%= form_for @snack do |f| %>
    <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>
    <div>
    <%= f.label :calories %>
    <%= f.number_field :calories %>
    </div>
    <div>
    <%= f.label :deliciousness %>
    <%= f.select :deliciousness, (1..10) %>
    </div>
    <%= f.submit "Snackify" %>
<% end %>