

<%= form_tag '/login' do %>
    <%= label_tag :username, "Username" %>
    <%= text_field_tag :username %>
    <%= label_tag :password, "Password" %>
    <%= password_field_tag :password %>
    <%= submit_tag 'Login' %>
<% end %> 























































<!-- <div class="ui grid">
        <div id="form-image-2" class="eight wide column login-box">
            <h2> Login In to Your Meme Account</h2>
            <%= form_tag '/login', class: "ui form", id: "login-form" do %>
                <div class="field">
                    <%= label_tag :username, "Username" %>
                    <%= text_field_tag :username %>
                </div>
                <div class="field">
                    <%= label_tag :password, "Password" %>
                    <%= password_field_tag :password %>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            <% end %>
        </div>
        <div id="form-image" class="eight wide column login-box">
            <div class="image-box">
                
            </div>
                    
        </div>
    </div> -->